<Div Class="containerMenu">

    <div class="containerButton @_containerButton" @onclick='() => ShowMenu("d-block")'>
        <i class="bi-list"></i>
    </div>

    <div class="containerTab @_containerTab">
        <i class="bi bi-x-lg bi" @onclick='() => ShowMenu("d-none")'></i>
        <Link To="/" @onclick='() => ShowMenu("d-none")'><i class="bi bi-aspect-ratio"></i>&nbsp  Resize Image</Link>
        <Link To="/screen" @onclick='() => ShowMenu("d-none")'><i class="bi bi-images"></i>&nbsp  Resize Screenshot</Link>
        <Link To="/landscape" @onclick='() => ShowMenu("d-none")'><i class="bi bi-image-alt"></i>&nbsp  Build LandScape</Link>
        <Link To="/wallpapper" @onclick='() => ShowMenu("d-none")'><i class="bi bi-image"></i>&nbsp  Build Wallpaper</Link>
    </div>
</Div>

@code {
    private string _containerTab = null!;
    private string _containerButton = null!;

    override protected void OnInitialized()
    {
        _containerButton = "d-block";
        _containerTab = "d-none";
    }

    public void ShowMenu(string value)
    {
        if (value == "d-block")
        {
            _containerButton = "d-none";
            _containerTab = "d-block";
        }
        else
        {
            _containerButton = "d-block";
            _containerTab = "d-none";
        }
    }
}